.maintenance-banner {
  background-color: #ffcc00; /* Yellow background */
  color: #333; /* Dark text */
  text-align: center;
  padding: 10px;
  font-size: 1.1em;
  font-weight: bold;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1000; /* Ensure it's on top of other content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.maintenance-banner p {
  margin: 0;
}

:root {
  --transition-duration: 0.3s;
  --transition-timing-function: ease;
  --sidebar-width: 20%;
}

/* Dark mode */
[data-theme='dark'] {
  --bg-color: #121212; /* Very dark grey for background */
  --text-color: #e0e0e0; /* Soft white for text */
  --primary-color: #bb86fc; /* Soft purple for primary elements */
  --accent-color: #03dac6; /* Teal for accents */
  --border-color: #333333; /* Subtle grey for borders */
  --sidebar-color: #1e1e1e; /* Slightly lighter dark grey for sidebar */
}

/* Light mode */
[data-theme='light'] {
  --bg-color: #f5f5f5; /* Very light grey for background */
  --text-color: #212121; /* Dark grey for text */
  --primary-color: #6200ee; /* Deeper purple for primary elements */
  --accent-color: #03dac6; /* Teal for accents */
  --border-color: #cccccc; /* Light grey for borders */
  --sidebar-color: #e0e0e0; /* Slightly darker light grey for sidebar */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* border: 1px solid magenta; */
}

html,
body {
  scroll-behavior: smooth;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;

  line-height: 1.6;
}

body :not(.sidebar-menu) {
  line-height: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  margin: 0 0 15px 0;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: var(--sidebar-color);
  transition: background-color 0.3s ease, width 0.3s ease;
  color: var(--text-color);
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 0.5rem 0;
}

/* Collapse sidebar styles */
.collapsed {
  width: 60px;
}

.hidden {
  display: none;
}

.collapsed-item {
  font-size: 0;
  overflow: hidden;
}

.collapsed-icon {
  font-size: initial;
  display: inline-block;
}

.collapsed-links {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 2rem;
  transition: font-size var(--transition-duration)
    var(--transition-timing-function);
}

@media screen and (max-width: 785px) {
  .sidebar {
    width: 60px;
  }

  .sidebar__avatar,
  .sidebar__title,
  .sidebar__name {
    display: none;
  }

  .sidebar-menu {
    justify-content: center;
  }

  .sidebar-menu__item {
    font-size: 0;
    overflow: hidden;
  }

  .sidebar-menu__item i {
    font-size: initial;
    display: inline-block;
    scroll-behavior: smooth;
  }

  .sidebar-links {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: 2rem;
    transition: font-size var(--transition-duration)
      var(--transition-timing-function);
  }

  .content {
    margin-left: 60px !important;
  }
}

.sidebar-header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 1rem; */
}

.hamburger {
  font-size: 2rem;
  cursor: pointer;
}

.dock-to-right {
  margin-left: auto;
  padding-right: 1rem;
}

.sidebar__avatar {
  width: 100px;
  height: 100px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid black;
}

.sidebar__avatar img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar__name {
  font-size: 1.5rem;
  font-weight: 800;
  margin-top: 0.5rem;
}

.sidebar__title {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-color);
  margin-bottom: 0.5rem;
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar-menu__item {
  color: var(--text-color);
  border-bottom: 1px dashed black;
  padding: 1rem;
  text-decoration: none;
  width: 100%;
  text-align: left;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease, border-bottom 0.3s ease;
}

.sidebar-menu__item:first-child {
  border-top: 1px solid transparent;
}

.sidebar-menu__item:last-child {
  border-bottom: 1px solid transparent;
}

.sidebar-menu__item:hover {
  background-color: var(--accent-color);
  border-bottom: 1px solid black;
}

.sidebar-menu__item i {
  margin-right: 0.5rem;
}

.sidebar-links {
  display: flex;
  justify-content: space-evenly;
  margin: 1em 0rem;
}

.sidebar-links__link i {
  transition: color 0.3s ease, transform 0.3s ease;
  color: var(--text-color);
}

.sidebar-links__link:hover i {
  color: var(--accent-color);
  transform: scale(2);
}

.content {
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-left: var(--sidebar-width);
  transition: background-color 0.3s ease, margin-left 0.3s ease;
}

.expanded-content {
  margin-left: 60px;
}

.toggle-mode {
  padding: 1rem;
  text-align: right;
  margin-right: 1rem;
}

.toggle-mode i {
  font-size: 2rem;
  cursor: pointer;
  color: var(--text-color);
}

.toggle-mode i:hover {
  color: var(--accent-color);
}

.language-switcher {
  display: flex;
  gap: 10px;
  padding: 1rem;
  justify-content: flex-end;
  margin-right: 1rem;
}

.lang-button {
  background-color: var(--primary-color);
  color: var(--text-color);
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.lang-button:hover,
.lang-button.active {
  background-color: var(--accent-color);
}

section {
  min-height: 100vh;
  overflow-y: auto; /* Allows scrolling within the section */
  padding: 2rem;
}

.home-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative; /* This establishes a positioning context for absolute children */
  overflow: hidden; /* Optional: Prevents particles from overflowing */
}

#particles-js {
  position: absolute; /* Positions the particles container */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1; /* Ensures particles render behind content */
}

.home-section__content {
  position: relative;
  z-index: 1; /* Higher z-index to ensure it appears above the particles */
}

.info {
  grid-column: 1;
  max-width: 550px;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  margin-left: auto;
}

.welcome {
  font-size: 2em;
  color: var(--accent-color);
}

.intro,
.statement,
.about,
.philosophy {
  margin-bottom: 10px;
  font-size: 1.2em;
}

.home-illustration {
  grid-column: 2;
  width: 800px;
  height: 600px;
  background-image: url('resources/home-illustration.svg');
  background-size: cover;
}

.cta-button {
  width: 300px;
  margin: 0 auto;
  margin-top: 2rem;
  letter-spacing: 0.01rem;
  cursor: pointer;
  background: transparent;
  border: 2px solid currentColor;
  padding: 1.5rem 2rem;
  font-size: 2.2rem;
  color: var(--text-color);
  position: relative;
  transition: color 0.3s;
  z-index: 1;
}

.cta-button:hover {
  color: var(--accent-color);
}

.cta-button:hover::before {
  width: 0;
}

.cta-button:hover::after {
  height: 0;
}

.cta-button:active {
  border-width: 1px;
}

.cta-button::before,
.cta-button::after {
  content: '';
  position: absolute;
  background: var(--bg-color);
  z-index: -1;
  transition: all 0.3s;
}

.cta-button::before {
  width: calc(100% - 20px);
  height: calc(101% + 4px);
  top: -2px;
  left: 50%;
  transform: translateX(-50%);
}

.cta-button::after {
  height: calc(100% - 20px);
  width: calc(101% + 4px);
  left: -2px;
  top: 50%;
  transform: translateY(-50%);
}

#typing-effect {
  border-right: 2px solid;
  white-space: nowrap;
  overflow: hidden;
  animation: blinkCursor 0.75s steps(40) infinite;
}

@keyframes blinkCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}

/* Styles for About Me Section */
.about-me {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 40px;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.about-me__title {
  display: block;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
}

.about-me__content {
  padding: 0 10px;
  max-width: 800px;
  margin: 0 auto;
  line-height: 1.6;
  overflow-y: auto;
  max-height: 90vh;
}

.about-me__content p {
  margin: 2rem 0;
  margin-right: 1.5rem;
}

.about-me-illustration {
  width: 800px;
  height: 600px;
  background-image: url('resources/about_me-illustration.svg');
  background-size: cover;
}

.home__title {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--primary-color);
  text-align: center;
}

/* Styles for Education Section */
.education {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 40px;
  text-align: left;
  overflow-y: scroll;
}

.education__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.education__item {
  background-color: var(--sidebar-color);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.education__degree {
  font-size: 20px;
  color: var(--primary-color);
  margin-bottom: 10px;
}

.education__school {
  font-size: 18px;
  margin-bottom: 5px;
}

.education__years {
  font-style: italic;
  margin-bottom: 15px;
}

.education__details {
  font-size: 16px;
  line-height: 1.6;
}

/* Styles for Skills Section with Progress Bars */
.skills {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 40px;
  text-align: left;
}

.skills__tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  background: var(--sidebar-color);
  padding: 20px;
  border-radius: 10px;
}

.tab-link {
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-color);
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.tab-link:hover,
.tab-link.active {
  background-color: var(--primary-color);
  color: var(--accent-color);
}

.skills__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.skills__category {
  display: none;
  background-color: var(--sidebar-color);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.active-category {
  display: block;
}

.skills__category-title {
  font-size: 20px;
  margin-bottom: 15px;
  color: var(--primary-color);
}

.skills__list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.skills__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  text-decoration: none;
}

.skill-item__icon {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--secondary-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-bottom: 10px;
  transition: transform 0.3s ease;
}

@media (max-width: 768px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
}

.experience {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 40px;
  text-align: left;
}

.experience__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.experience__item {
  margin-bottom: 30px;
  border-left: 4px solid var(--primary-color);
  padding-left: 20px;
  position: relative;
}

.experience__item::before {
  content: '';
  position: absolute;
  left: -14px;
  top: 0;
  background-color: var(--bg-color);
  border: 4px solid var(--primary-color);
  border-radius: 50%;
  width: 16px;
  height: 16px;
}

.experience__position {
  font-size: 20px;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.experience__company {
  font-size: 16px;
  margin: 0 0 10px 0;
}

.experience__dates {
  font-style: italic;
  margin: 0 0 10px 0;
}

.experience__details {
  margin: 0;
  padding-left: 18px;
  list-style: disc;
}

.experience__details li {
  margin-bottom: 5px;
}

/* Styles for Blog Section */
.blog {
  padding: 40px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.blog__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
}

.blog__post {
  background-color: var(--sidebar-color);
  border: 2px dashed var(--secondary-color);
  border-radius: 8px;
  overflow: hidden;
  transition: border 0.3s ease-in-out;
}

.blog__post:hover {
  border: 2px solid var(--primary-color);
}

.blog__post img {
  width: 100%;
  transition: transform 0.3s ease-in-out;
}

.blog__post img:hover {
  transform: scale(1.05);
}

.blog__post-title,
.blog__post-date {
  padding: 10px 15px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

.blog__post-readmore {
  display: inline-block;
  padding: 10px 20px;
  margin: 15px;
  background-color: var(--primary-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

.blog__post-readmore:hover {
  background-color: var(--accent-color);
}

.more-blogs {
  display: block;
  width: max-content;
  margin: 20px auto 0;
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--text-color);
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
  margin-top: 2rem;
}

.more-blogs:hover {
  background-color: var(--accent-color);
}

/* Styles for Contact Section */
.contact {
  background-color: var(--bg-color);
  padding: 40px;
  text-align: center;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact__intro {
  margin-bottom: 20px;
  font-size: 18px;
}

.contact__details p,
.contact__form label {
  margin-bottom: 10px;
}

.contact__details a {
  color: var(--primary-color);
  text-decoration: none;
}

.contact__details a:hover {
  text-decoration: underline;
}

.contact__form {
  max-width: 500px;
  margin: 0 auto;
}

.contact__form input[type='text'],
.contact__form input[type='email'],
.contact__form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--bg-color);
  color: var(--text-color);
  margin-top: 1rem;
  border: 1px solid var(--border-color);
}

.contact__form button.contact__submit {
  background-color: var(--primary-color);
  color: var(--text-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.contact__form button.contact__submit:hover {
  background-color: var(--accent-color);
}

.blog__post-readmore,
.more-blogs,
.contact__submit {
  color: #fff;
}
